<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github-mattys101" value="https://nuget.pkg.github.com/mattys101/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github-mattys101>
            <add key="Username" value="%GH_USERNAME%" />
            <add key="ClearTextPassword" value="%GH_TOKEN%" />
        </github-mattys101>
    </packageSourceCredentials>
</configuration>